html,
body {
	height: 100%;
	background-color: #f5f5f5;
	font-size: 14px;
	box-sizing: border-box;
}
body {
	background: url(../src/bg.jpg) center center no-repeat;
	background-size: cover;
}

/*清除浮动*/
.clearfix:after {
	content: '';
	display: block;
	clear: both;
}
a {
	color: #000000;
}
/*头部*/
header {
	width: 100%;
	height: 60px;
	background: rgba(204,204,204, .5);
}
header #head {
	width: 1312px;
	margin: 0 auto;
}
header #head .logo {
	position: relative;
	top: 16px;
}
header .img {
	float: right;
	margin-right: 10px;
	width: 48px;
	height: 48px;
	border: 1px solid #07c5c5;
	border-radius: 24px;
	position: relative;
	top: 6px;
}
header .img img {
	border-radius: 24px;
}
header .nav {
	float: right;
	margin-right: 60px;
	margin-top: 5px;
}
header .nav ul li {
	font-size: 18px;
	float: left;
	margin-top: 8px;
	line-height: 36px;
	width: 88px;
	margin-right: 20px;
	text-align: center;
/*	background: gray;*/
}
.active {
	background: #f5f5f5;
	border: 1px solid #07c5c5 ;
	border-radius: 40px;
}

/*内容 container*/
#container {
	width: 1312px;
	margin: 10px  auto;
	/*border: 1px solid #d5d5d5;*/
}
#container .left {
	float: left;
	width: 928px;
	height: 568px;
	border: 1px solid #d5d5d5;
	background: #f5f5f5;
}
#container .left .video_container {
	position: relative;
	width: 928px;
	height: 538px;
}
#container .left  .video_header {
	float: left;
	width: 540px;
	margin: 10px 0;
	padding-bottom: 10px;
}
#container .left .video_header img {
	float: left;
	margin-left: 10px;
	width: 64px;
	height: 64px;
	border-radius: 6px;
	border: 2px solid #07c5c5;
}
#container .left .video_header .text {
	text-indent: 20px;
}
.text h3 {
	font-size: 20px;
	/*font-weight: bold;*/
}
.text h4 {
	margin-top: 10px;
	font-size: 14px;
}
.video {
	padding-top: 14px;
	padding-left: 5px;
}
.open_btn {
	width: 10px;
	height: 80px;
	position: absolute;
	right: -10px;
	top: 240px;
	z-index: 99;
	background: url(../src/close.png) no-repeat ;
}
/*手术室直播厅选项*/
.ops {
	padding-left: 24px;
	float: right;
	width: 280px;
/*	border: 1px solid red;*/
}

.opsSelect ul li {
	font-size: 12px;
	float: left;
	padding: 4px 6px;
	margin: 10px 10px 0 10px;
	border: 2px solid #d5d5d5;
	border-radius: 4px;
}
/*通道切换按钮*/
.btn {
	padding-top: 10px;
}
.passageway {
	width: 100%;
/*	border: 1px solid red;*/
	margin: 20px 0 16px 0;
}
.passagewayBtn {
	float: left;
	width: 88px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	border-radius: 4px;
	border: 1px solid #d5d5d5;
	background: #ffffff;
	margin-right: 14px;
	margin-top: 10px;
}
/* 视频通道选中*/
.passSelect {
	/*background: #07c5c5;*/
	border: 2px solid #07c5c5;
	color: white;
}
/* 分屏按钮*/
.splitScreen img {
	margin-right: 20px;
	padding: 4px;
}
/* 分屏选中状态*/
.screenSelect {
	background: url(../src/select.jpg);
	border: 2px solid #07c5c5;
}



/* 右边部分 量大*/
#container .right {
	float: right;
	width: 360px;
	height: 648px;
/*	border: 1px solid blue;*/
}
.download {
	border: 1px solid #d5d5d5;
	height: 200px;
	background: #ffffff;
}
.download .btn {
	height: 40px;
	background: #f5f5f5;
}
.changeBtn {
	float: left;
	line-height: 40px;
	text-align: center;
	width: 50%;
	background: #f5f5f5;
}
.changeBtn:hover {
	cursor: pointer;

}
.activeBtn {
	color: #07c5c5;
	background: url(../src/activeBtn.jpg);
}

/* 手术简介*/
.doctor {
	padding: 20px 0 0 40px;
	letter-spacing: 4px;
}
.doctor p {
	padding: 10px 0px 0 10px;
}
.doctor p span {
	padding-left: 20px;
}

.download_list {
	display: none;
}
.msg {
	border: 1px solid #d5d5d5;
	height: 448px;
	background: #ffffff;
}
/*消息展示*/
.sendMsg {
	height: 348px ;
}
.sendMsg ul li {
	line-height: 48px;
	padding-left: 24px;
}
.sendMsg ul li span {
	color: #07c5c5;
	font-weight: bold;
	padding-right: 12px;
}
/*聊天输入框*/
.inputMsg {
	height: 100px;
	border: 1px solid #d5d5d5;
	padding: 40px 0 0 40px;
}
.inputMsg input {
	line-height: 34px;
	border-radius: 4px 0 0 4px;
	border: 1px solid #d5d5d5;
	text-indent: 18px;
}
.radio {
	width: 64px;
	line-height: 36px;
	background: #ff6666;
	border-style: none;
	border-radius: 4px;
	color: #ffffff;
}
.send {
	width: 64px;
	line-height: 36px;
	background: #07c5c5;
	border-style: none;
	border-radius: 4px;
	color: #ffffff;
}
.radio:active,
.send:active {
	border-style: none;
	opacity: 0.5;
}


/*footer 低栏*/
footer {
	width: 100%;
	margin-top: 280px;
	background: #cccccc;
	line-height: 50px;
	text-align: center;
}



